body {
    text-align: center;
}


.ball {
    display: none;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;

}

.cardWrapper {
    background-color: green;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    
}

.card {
    height: 200px;
    width: 200px;
    }

 #scoreleft {
    background:  rgb(200, 27, 27);
}

#scoreright {
    background: rgba(59, 46, 46, 0.63);
}